<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' cdnjs.cloudflare.com maxcdn.bootstrapcdn.com *.googleapis.com *.gstatic.com; img-src 'self' 'unsafe-inline' data:;"/>
<base href="https://sleepless.space"/>
<meta name="robots" content="index,follow,noodp"/>
<meta name="googlebot" content="index,follow"/>
<meta name="referrer" content="no-referrer"/>
<meta name="format-detection" content="email=yes"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="date=no"/>
<meta name="format-detection" content="address=no"/>
<meta name="google" content="nositelinkssearchbox"/>
<meta name="google-site-verification" content="EkdURsID0oeb4LeHHoI37QOn4DGLAf9URMz1Vuh4aHg"/>
<meta property="fb:app_id" content="1789742834600188"/>
<meta property="og:site_name" content="Sleepless"/>
<meta name="twitter:site" content="@likeihaveonelol"/>
<meta name="twitter:creator" content="@gerard_mrk"/>
{{{Meta}}} {{Title}} {{{Link}}}
<script>!function(e){"use strict";var n=function(n,t,o){function i(e){return a.body?e():void setTimeout(function(){i(e)})}function r(){l.addEventListener&&l.removeEventListener("load",r),l.media=o||"all"}var d,a=e.document,l=a.createElement("link");if(t)d=t;else{var s=(a.body||a.getElementsByTagName("head")[0]).childNodes;d=s[s.length-1]}var f=a.styleSheets;l.rel="stylesheet",l.href=n,l.media="only x",i(function(){d.parentNode.insertBefore(l,t?d:d.nextSibling)});var u=function(e){for(var n=l.href,t=f.length;t--;)if(f[t].href===n)return e();setTimeout(function(){u(e)})};return l.addEventListener&&l.addEventListener("load",r),l.onloadcssdefined=u,u(r),l};"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this)</script>
<script>!function(t){if(t.loadCSS){var e=loadCSS.relpreload={};if(e.support=function(){try{return t.document.createElement("link").relList.supports("preload")}catch(t){return!1}},e.poly=function(){for(var e=t.document.getElementsByTagName("link"),n=0;n<e.length;n++){var r=e[n];"preload"===r.rel&&"style"===r.getAttribute("as")&&(t.loadCSS(r.href,r),r.rel=null)}},!e.support()){e.poly();var n=t.setInterval(e.poly,300);t.addEventListener&&t.addEventListener("load",function(){t.clearInterval(n)}),t.attachEvent&&t.attachEvent("onload",function(){t.clearInterval(n)})}}}(this)</script>
<link href="humans.txt" rel="author"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"/>
<style>#app,body,html{width:100%;height:100%}html{font-family:'Open Sans',Helvetica,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#686868}#app,body{position:relative}*{box-sizing:border-box}a{text-decoration:none}ul{list-style-type:none;padding:0;margin:0}</style>
<link rel="preload" href="/assets/styles/app.09453b36e904011c5154a91bfe64ddaf.css" as="style" onload='this.rel="stylesheet"'/>
<noscript>
<link rel="stylesheet" href="/assets/styles/app.09453b36e904011c5154a91bfe64ddaf.css"/>
</noscript>
<link rel="apple-touch-icon" sizes="57x57" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-icon-180x180.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="Sleepless"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#ffffff"><meta name="application-name" content="Sleepless"><link rel="icon" type="image/png" sizes="32x32" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/favicon-32x32.png"><link rel="icon" type="image/png" sizes="192x192" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/android-chrome-192x192.png"><link rel="icon" type="image/png" sizes="16x16" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/favicon-16x16.png"><link rel="shortcut icon" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/favicon.ico"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-320x460.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-640x920.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-640x1096.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-750x1294.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-1182x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-1242x2148.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-748x1024.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-768x1004.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-1496x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-c6cb503e7ee92b66d3f6c125c5dccad6/apple-touch-startup-image-1536x2008.png"></head>
<body>
<div id="app">{{{Body}}}</div>
<script>window.__INITIAL_STATE__ = {{{InitialState}}}</script>
<script src="/assets/scripts/app.c978083d226cefb01792.js"></script>
</body>
</html>
